<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://www.formbackend.com/f/dfa9ca2db924c968" method="post">
        <label for="text">Text:</label><br>
        <textarea name="text" id="text"></textarea><br>
        
        <label for="image">Image:</label><br>
        <input type="file" name="image" id="image"><br>
        
        <label for="language">Select a language:</label><br>
        <select name="language" id="language">
            <option value="language1">Language 1</option>
            <option value="language2">Language 2</option>
        </select>

        <input type="submit" value="Submit">
    </form>
</body>
</html>