<!DOCTYPE html>
<html>
<head>
    <title>Speech Recognition Example</title>
    <script>
    const bot = document.querySelector(".bot");

    bot.forEach(elem => {
    const message = elem.textContent;
    const image = document.createElement("img");
    image.src = "../assets/Reset.png";
    image.alt = "Speaker Icon";
    elem.innerHTML = lorem;
    elem.appendChild(image);
});

    function onn(){
        const pp = document.getElementById("pp");
        pp.innerHTML= "lorem ipsum "
    }
    </script>
</head>
<body>
    <input type="text" id="inputField">
    <button onclick="onn()">submit</button>
    <p class="bot">hola amigo</p>
    <p class="bot">hola amigo</p>
    <p class="bot">hola amigo</p>
    <p class="bot">hola amigo</p>
    <p class="bot">hola amigo</p>

</body>
</html>